@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/livvic-v13-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/livvic-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-500 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/livvic-v13-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/livvic-v13-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-600 - latin */
@font-face {
  font-family: "Livvich";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/livvic-v13-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/livvic-v13-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700 - latin */
@font-face {
  font-family: "Livvic-bold";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/fonts/livvic-v13-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/fonts/livvic-v13-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --site-font-family: "Livvich", sans-serif;

  --main-color: #014e56;
  --footer-color: #002529;
  --font-color-1: #f67e7e;
  --font-color-2: #ffffff;

  --site-font-weight-1: 600;
  --site-font-weight-2: 700;

  --site-font-size-2: 1.5rem;
  --site-font-size-1: 1.8rem;
  --site-font-size-3: 3.2rem;
  --site-font-size-4: 6.4rem;

  --site-line-height-2: 1.33;
  --site-line-height-1: 1.25;

  --site-letter-spacing: -0.12px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--font-color-2);
  font-family: var(--site-font-family);
  font-size: var(--site-font-size-1);
  font-weight: var(--site-font-weight-1);
  line-height: var(--site-line-height-1);
  background-color: var(--main-color);
}

.container {
  width: 100%;
  max-width: 1170px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border: 2px solid var(--font-color-2);
  border-radius: 2.4rem;
  color: var(--font-color-2);
  padding: 0.9rem 3.3rem 1.1rem;
  display: inline-block;
  font-weight: var(--site-font-weight-1);
}

.header {
  padding-top: 7.3rem;
}
.header__container {
  display: flex;
}

.logo__link {
}
.logo__link-img {
  margin-right: 8rem;
}
.sitenav {
}
.sitenav__list {
  display: flex;
}
.sitenav__item {
  margin-top: 1.2rem;
}
.sitenav__link {
  font-weight: 500;
  font-family: "Livvic";
  color: var(--font-color-2);
}

.sitenav__link:nth-child(1) {
  padding-right: 4rem;
}
.header__btn {
  margin-left: 53.4rem;
  transition: 0.3s;
}

.header__btn:hover {
  background-color: var(--font-color-2);
  color: var(--main-color);
}

/* main */

.main {
  flex-grow: 1;
  background-image: url("../images/chap.svg"), url("../images/ong.svg");
  background-repeat: no-repeat;
  background-position: left bottom 30rem, right 0 bottom 0rem;
}
.main__container {
  padding-top: 13rem;
  padding-bottom: 12.8rem;
  justify-content: space-between;
  display: flex;
}

.info {
  margin-top: 1rem;
}
.info__title {
  padding-bottom: 1.6rem;
  font-size: var(--site-font-size-4);
  color: var(--font-color-2);
  line-height: var(--site-line-height-1);
  font-weight: var(--site-font-weight-2);
}
.info__description {
  padding-bottom: 3.2rem;
  font-size: var(--site-font-size-3);
  color: var(--font-color-1);
  line-height: 1.2;
  font-weight: var(--site-font-weight-2);
}
.info__list {
}
.info__item {
}
.info__link {
  align-items: center;
  display: flex;
}
.info__img {
  margin-right: 2.3rem;
}
.info__text {
  color: var(--font-color-2);
}
.register {
  /* margin-top: 1rem; */
}
.register__list {
}
.register__maydon {
  color: var(--font-color-2);
  border-color: inherit;
  width: 54rem;
  background-color: inherit;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
  padding-left: 1rem;
  transition: 0.4s;
}
.register__maydon:nth-child(9) {
  padding-bottom: 4.8rem;
}

.register__maydon:hover {
  border-color: var(--font-color-1);
}
.register__btn {
  transition: 0.3s;
  color: #004047;
  margin-top: 2.4rem;
}
.register__btn:hover {
  color: inherit;
  background-color: var(--main-color);
}

::placeholder {
  color: var(--font-color-2);
  opacity: 60%;
  font-size: var(--site-font-size-2);
  letter-spacing: var(--site-letter-spacing);
  font-family: var(--site-font-family);
}

input:hover::placeholder {
  color: var(--font-color-1);
}

/* FOOTER */
.footer {
  background-color: var(--footer-color);
}

.footer__container {
  display: flex;

  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.left-blok {
}

.footer__list {
}
.footer__center {
  padding-left: 8rem;
  padding-right: 37rem;
}
.footer__line {
}
.footer__text {
  font-family: "Livvic";
  opacity: 60%;
  font-weight: 400;
  font-size: var(--site-font-size-2);
  padding-bottom: 1rem;
}
.footer__right {
}
.footer__social {
  text-align: right;
  padding-bottom: 5.1rem;
}
.footer__social-link {
  padding-left: 1.6rem;
}
.footer__social-img {
}
.footer__social-link:hover path {
  fill: #f67e7e;
}
